body {
    background: #27ae61;
}
nav {
   display: flex; 
   justify-content: center;
}
ul {
    padding-left: 0;
}
ul li {
    list-style: none;
    height: 50px;
    display: flex;
    align-items: center;
    
}
a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}    
.dropdown-menu {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 98%;
      background: #1f844a;
      height: 50px;
}
.dropdown-menu li {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.dropdown-menu li ul {
    background: #9a59b5;
}  
.dropdown-menu ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 170px;   
}